<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Movies Juan Moreno</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="icon" type="image/ico" href="/favicon.ico">
  </head>

  <body>

    <section  class="contenedorApp">
      <%-include('./partials/header.ejs')%>

     <main class="contenedorMain">

      <br>
      <p>Borraste exitosamente la pelicula seleccionada! </p>
      <p>Ya no se encuentra en nuestro catálogo</p>
      <br>

    <br>
    <a href="/peliculas/createForm">Crear Nueva Pelicula</a>
    <br>
    <a href="/peliculas">Todas las peliculas</a>
    <br>
    <a href="/">Volver al inicio</a>
    <br>
    </main>


    <%-include('./partials/footer.ejs')%>
  </section>

  </body>
</html>
