<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Movies Juan Moreno</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="icon" type="image/ico" href="/favicon.ico">
  </head>

  <section  class="contenedorApp">
  <%-include('./partials/header.ejs')%>

  <main class="contenedorMain">
  
    <p><%= message %></p>

    <a href="/">Volver al inicio</a>


  </main>

  <%-include('./partials/footer.ejs')%>
  </section>

