<header class="cabeza">
    
    <div class="divLogo">
        <a href="/"><p class="textoHeader">DH Movies</p> </a>
    </div>

    <div class="divBuscador">
        <form action="/peliculas/search" method="POST">
            <input type="text" name="busqueda" placeholder="Encontrá tu peli.." autofocus>
            <input type="submit" value="Buscar">
        </form>
    </div>
</header>